<!DOCTYPE HTML>
<html data-ng-app="app">
  <head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <script src="../src/index.js"></script>
    <script src="../src/directives/divIcon.js"></script>
    <script src="../src/directives/map.js"></script>
    <script src="../src/directives/marker.js"></script>
    <script src="../src/directives/popup.js"></script>
    <script src="../src/directives/view.js"></script>
    <script>
      angular.module('app', ['ll-leaflet']).controller('Ctrl', Ctrl);
      function Ctrl($scope) {
        $scope.mapOptions = {
          layers: [
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
          ]
        };
        $scope.mapView = {
          lat: 51.505,
          lng: -0.09,
          zoom: 13
        };
        $scope.markerVisible = true;
        $scope.markerLatLng = {
          lat: 51.505,
          lng: -0.09
        };
        $scope.greeting = 'Hello world!';
      }
    </script>
  </head>
  <body data-ng-controller="Ctrl">
    <div ll-map="mapOptions" style="height: 400px">
      <ll-view ll-view="mapView"></ll-view>
      <ll-marker ll-lat-lng="markerLatLng" ll-marker="{title: 'My first marker'}" ng-if="markerVisible">
        <ll-popup><div>
          <b>{{greeting}}</b> – I am a popup.
        </div></ll-popup>
      </ll-marker>
    </div>
    <hr>
    <div>Map center: <input ng-model="mapView.lat"> <input ng-model="mapView.lng"></div>
    <div>Map zoom: <input ng-model="mapView.zoom"></div>
    <div>Marker: <input type="checkbox" ng-model="markerVisible"></div>
    <div>Greeting in popup: <input ng-model="greeting"></div>
  </body>
</html>
